<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-2">
        <div class="left-sidebar">
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default" *ngIf="!result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a [routerLink]="['login']">Login</a>
                </h4>
              </div>
            </div>
            <div class="panel panel-default" *ngIf="result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a [routerLink]="['']" (click)="logout()">LogOut</a>
                </h4>
              </div>
            </div>
            <div class="panel panel-default" *ngIf="result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordian"
                    [routerLink]="['orderListing']"
                  >
                    orderListing
                  </a>
                </h4>
              </div>
            </div>
            <div class="panel panel-default" *ngIf="result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordian"
                    [routerLink]="['categoryManagement']"
                  >
                    category_Management
                  </a>
                </h4>
              </div>
            </div>

            <div class="panel panel-default" *ngIf="result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a
                    data-toggle="collapse"
                    data-parent="#accordian"
                    [routerLink]="['manageProd']"
                  >
                    Manage_Products
                  </a>
                </h4>
              </div>
            </div>

            <div class="panel panel-default" *ngIf="result">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a [routerLink]="['createUser']">Create_User</a>
                </h4>
              </div>
            </div>
          </div>
          <!--/category-products-->
        </div>
      </div>

      <div class="col-sm-10 padding-right">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</section>
