<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cart of userCart">
            <td class="cart_product">
              <a href=""
                ><img
                  height="100px"
                  src="http://localhost:3000/images/{{ cart.productId.image }}"
                  alt="img"
              /></a>
            </td>
            <td class="cart_description">
              <h4>
                <a href="">{{ cart.productId.itemName }}</a>
              </h4>
            </td>
            <td class="cart_price">
              <p>{{ cart.productId.price | currency: "INR" }}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <a
                  class="btn cart_quantity_delete"
                  (click)="increaseCount(cart.productId._id)"
                >
                  +
                </a>
                <input
                  class="cart_quantity_input"
                  type="text"
                  name="quantity"
                  value="{{ cart.Quantity }}"
                  autocomplete="off"
                  size="2"
                />
                <a
                  class="btn cart_quantity_delete"
                  (click)="decreaseCount(cart.productId._id)"
                >
                  -
                </a>
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">
                {{ cart.productId.price | currency: "INR" }}
              </p>
            </td>
            <td class="cart_delete">
              <a
                class="btn cart_quantity_delete"
                (click)="deleteItemFromCart(cart.productId._id)"
                ><i class="fa fa-times"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->

<section id="do_action">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="total_area">
          <ul>
            <li>
              Cart Sub Total <span> {{ total | currency: "INR" }}</span>
            </li>
            <li>Eco Tax <span>$2</span></li>
            <li>Shipping Cost <span>Free</span></li>
            <li>
              Total <span>{{ gtotal | currency: "INR" }}</span>
            </li>
          </ul>
          <a class="btn btn-default check_out" (click)="checkout()"
            >Check Out</a
          >
          <!-- <button class="btn btn-default" (click)="checkout()">checkout</button> -->
        </div>
      </div>
    </div>
  </div>
</section>
