<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div
      class="table-responsive cart_info"
      *ngFor="let order of orders; index as ind"
    >
      <div>OrderId: {{ order._id }}</div>
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Item</td>
            <td class="description"></td>
            <td class="price">Price</td>
            <td class="quantity">Quantity</td>
            <td class="total">Total</td>
            <td>Status</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let products of orders[ind].products">
            <td class="cart_product">
              <a href=""
                ><img
                  height="100px"
                  src="http://localhost:3000/images/{{
                    products.productId.image
                  }}"
                  alt="img"
              /></a>
            </td>
            <td class="cart_description">
              <h4>
                <a href="">{{ products.productId.itemName }}</a>
              </h4>
            </td>
            <td class="cart_price">
              <p>{{ products.productId.price | currency: "INR" }}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                <input
                  class="cart_quantity_input"
                  type="text"
                  name="quantity"
                  value="{{ products.Quantity }}"
                  autocomplete="off"
                  size="2"
                />
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">
                {{ products.productId.price | currency: "INR" }}
              </p>
            </td>
            <td style="color: green">Ordered</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->
